*    {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 25px;
    line-height: 150%;
}

body {
    background: url("img/bg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
    /* Header */
        .logo{
            margin-top: 2em;
            margin-bottom: 2em;
            right: 10px;
            width: 7em;
            position: relative;
        }
    
    /* Main */
        .inputt {
            position: absolute;
            margin-left: 2em;

        }

        .input-text {
            background-image: url("img/overlay.png");
        }


        .info {
            font-size: 15px;
            color: antiquewhite;
        }
        
        /* Buttons */
            .encrypt, .decrypt {
                background-color: rgb(195, 145, 78);
                color: rgb(114, 44, 44);
                border-radius: 50px;
            }

            .encrypt:hover {
                background-color: rgba(255, 255, 255, 0.075);
            }

            .encrypt:active{
                background-color: rgba(214, 36, 36, 0.175);
            }

            .decrypt:hover {
                background-color: rgba(255, 255, 255, 0.075);
            }

            .decrypt:active{
                background-color: rgba(214, 36, 36, 0.175);
            }

        /* Output text */
            .msg {
                background-image: url("img/overlay.png");
            }

            .outputt{
                position: relative;
                left: 30em;
                
            }

        @media screen and (max-width: 1090px) {
            *{font-size: 19px;}
        
            .input-text, .msg {width: 15em;}
            .info{
                font-size: 10px;
                white-space: nowrap;}

            .outputt{
                left: 22em; 
            }
        }

        @media screen and (max-width: 680px) {
            *{font-size: 19px;}
        
            .input-text, .msg {width: 14em;}
            .info{
                font-size: 10px;
                white-space: nowrap;}
            .outputt{
                left: 19em;        
            }
        }

        @media screen and (max-width: 580px) {
            *{font-size: 19px;}
        
            .input-text, .msg {width: 14.5em;}
            .info{
                font-size: 10px;
                white-space: nowrap;}
            .outputt{
                top: 16em;
                left: 2em;
                
            }
        }