*    {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-image: url("img/bg.jpeg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

}

.main {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
}

.input-texto {
    margin-top: 20px;
    background-image: url("img/overlay.png");
}

.mensagem {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    background-image: url("img/overlay.png");
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.encrypt, .decrypt {
    background-color: rgb(195, 145, 78);
    color: rgb(114, 44, 44);
    border-radius: 50px;
}

.encrypt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.encrypt:active{
    background-color: rgba(214, 36, 36, 0.175);
}

.decrypt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.decrypt:active{
    background-color: rgba(214, 36, 36, 0.175);
}

.info {
    font-size: 15px;
    color: antiquewhite;
}
