*    {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
}

body {
    background: url("img/bg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.entrada {
    position: absolute;
    margin-left: 2em;

}

.logo{
    position: relative;
}

.input-texto {
    background-image: url("img/overlay.png");
}

.mensagem {
    background-image: url("img/overlay.png");
}

.saida{
    position: relative;
    left: 25em;
    
}

.encrypt, .decrypt {
    background-color: rgb(195, 145, 78);
    color: rgb(114, 44, 44);
    border-radius: 50px;
}

.encrypt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.encrypt:active{
    background-color: rgba(214, 36, 36, 0.175);
}

.decrypt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.decrypt:active{
    background-color: rgba(214, 36, 36, 0.175);
}

.info {
    font-size: 15px;
    color: antiquewhite;
}

@media screen and (max-width: 480px) {
    *{font-size: 19px;}
   
    .input-texto, .mensagem {width: 14.5em;}
    .info{
        font-size: 10px;
        white-space: nowrap;}
    .saida{
        top: 16em;
        left: 2em;
        
    }
}