@media screen and (max-width: 540px){
   main{
      height: 75vh;
   }

   .buttons-div{
      margin: 12px;
   }

   .textbox-container, .segment-input{
      flex-direction: column;
   }


   .text1, .text2 {
      width: 250px;
      height: 120px;
      font-size: 12px;
   }

   .challenge-container{
      display: unset;
      flex-direction: unset;
      justify-content: unset;
   }

   .challenge{
      width: unset;
      margin-left: unset;
      flex-direction: column;
   }

   .alura-logo {
      width: 75px;
  }

   .challenge-title {
      font-size: 15px;
   }

   .oracle-logo {
      width: 120px;
  }
}

@media screen and (max-width: 361px){
   .textbox-container, .segment-input{
      align-items: center;
   }

   .text1, .text2 {
      width: 220px;
      height: 100px;
      font-size: 12px;
  }
}