@media screen and (max-width: 580px){
   main {
      margin-top: 30px;
   }

   .encode-icon {
      width: 35px;
   }

   .header-title {
      font-size: 15px;
   }

   .challenge-container {
      margin: 5px;
      display: unset;
      flex-direction: unset;
      justify-content: unset;
  }

   .challenge {
      display: flex;
      justify-content: unset;
      align-items: center;
      gap: unset;
      margin-left: unset;
      flex-direction: column;
   }
}