footer{
   position: fixed;
   background-image: radial-gradient(#7a7373, #7d7373);
   left: 0;
   bottom: 0;
   width: 100%;
}

.oracle-logo{
   width: 150px;
}

.alura-logo{
   width: 100px;
}

.challenge-container {
   margin: 12px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.challenge{
   width: 550px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 60px;
}

.end-footer{
      display: flex;
      flex-direction: row;
      background-image: radial-gradient(#221c1c, #030908);
      align-items: center;
      align-content: center;
      justify-content: center;
      align-self: stretch;
}

.challenge-title{
   color: #ffb359;
   font-size: 18px;
}

.dev{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
}

.dev-name{
   margin: 0px;
   font-size: 12px;
   font-family: 'Noto Sans Mono', monospace;
   color: #f7eded;
   white-space: nowrap;
}
.rodape-logo{
   width: 25px;
}