.menu-bar {
   margin: 0 auto;
   left: 0px;
   right: 0px;
   top: 0px;
   order: 0;
   width: 100%;
   background-color: rgba(30, 18, 18, 0.5);
}

.header-container{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
}


.encode-icon{
   width: 50px;
}

.header-title{
   font-size: 20px;
   color: #ffb359;
}