main {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 80vh;
}

textarea {
   resize: none;
 }

 /* Text input */
      .textbox-container{
         display: flex;
         flex-direction: row;
         justify-content: center;
      }

      .segment-input{
         display: flex;
      }

      .text1,.text2{
         width: 640px;
         height: 550px;
         font-size: 40px;
      }

/* Buttons */
   .buttons-div{
      width: 250px;
      text-align: center;
      align-self: center;
   }

   .encrypt, .decrypt {
      font-family: "Noto Sans Mono", sans-serif;
      background-color: rgb(195, 145, 78);
      color: rgb(114, 44, 44);
      padding: 10px;
      font-size: 20px;
      border-radius: 18px;
      cursor: pointer;
   }

   .encrypt:hover {
      background-color: rgba(255, 255, 255, 0.075);
   }

   .encrypt:active{
      background-color: rgba(214, 36, 36, 0.175);
   }

   .decrypt:hover {
      background-color: rgba(255, 255, 255, 0.075);
   }

   .decrypt:active{
      background-color: rgba(214, 36, 36, 0.175);
   }

/* Output text */
   .text2 {
      background-image: url("../img/overlay.png");
   }